@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
  font-family: 'cocogooseregular';
  src: url('./src/cocogoose/webfontkit-20230627-110041/cocogoose_pro-trial-webfont.woff2') format('woff2'),
       url('./src/cocogoose/webfontkit-20230627-110041/cocogoose_pro-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 55px 5%;
}

body {
  background-image: url("./src/Background\ image.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'lato', sans-serif;
  font-size: 16px;
  color: #272a31;
}

/* Home Section */

.hamburgerBar {
  background-color: #4b5160;
  width: 35px;
  height: 6px;
  border-radius: 1px;
}

#hamburgerContainer {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 200ms linear;
}

.hidden {
  display: none;
}

.navigationLinks li {
  border-bottom: 1px solid #6f6c6b;
  padding: 15px;
}

.onlyDesktop {
  visibility: hidden;
  display: none;
}

.navigationLinks {
  list-style-type: none;
}

.navigationLinks a {
  text-decoration: none;
  font-family: 'lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #fff5e1;
}

.navigationLinks a:hover {
  color: #ec5242;
}

.navMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #272a32;
  filter: alpha(opacity=95);
  opacity: 0.95;
  padding: 20px;
  transition: all 0.7s;
}

#closebutton {
  position: fixed;
  top: 35px;
  right: 35px;
}

h1 {
  font-family: 'cocogooseregular';
  font-weight: bold;
  background-image: url("./src/pexels-francesco-ungaro-7211201.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  color: rgb(255 0 0 / 51%);
  font-size: 50px;
  background-size: contain;
  text-align: inherit;
  padding-bottom: 8px;
}

 #titlePets {
  font-family: 'lato';
  font-weight: normal;
  color:#ec5242;
  font-size: 30px;
  text-align: inherit;
}

#introduction {
  padding: 20px;
  border: 5px solid white;
  background-color: #f6f6f6;
  margin-bottom: 100px;
}

/* Adoption Program */

#adoptionProgram {
  background-image: url("./src/background\ adoption.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#Adoption {
  color: #f6f6f6;
  font-family: 'lato', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ec5242;
  margin-top: 20px;
  margin-bottom: 40px;
}

.animalName {
  color: #ec5242;
}

.programDescription {
  color: #f6f6f6;
}

.adoptionButton {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  padding: 30px;
  color: #fff;
  margin: 45px auto;
  background: #ec5242;
  border: none;
  transition: all 0.7s;
  text-decoration: none;
  display: block;
}

.adoptionButton:hover {
  background: #fff5e1;
  border: 1px solid #ec5242;
  color: #ec5242;
}

.adoptionButton:active {
  color: #f4f1f0;
  background: #ec5242;
}

.adoptionButton:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

#programsContainer > article {
  display: flex;
  background: rgb(255 255 255 / 11%);
  padding: 12px 2%;
  align-items: center;
  gap: 15px;
}

.imgadoptionProgram img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: fill;
}

/* Featured Speakers */

#featuredSpeakers {
background-color: #fff;
}

#defenders {
  text-align: center;
}

.imgdefender > img {
  width: 165px;
}

.defendersProfession {
  color: #ec5242;
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
  padding-top: 10px;
}

.desfenderDescription {
font-size: 13px;
}

.defendersCards > h3{
  font-family: 'lato', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.defendersCards > hr {
  background-color: #d3d3d3;
  margin-top: 19px;
  margin-bottom: 20px;
}

#defendersContainer > article{
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

/* About Happy Pets */
#aboutHappyPets {
  background-image: url("./src/Background\ image\ about.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#aboutHappyPets > h2 {
  font-family: 'cocogooseregular';
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding-bottom: 45px;
  color: #ec5242;
}

#aboutHappyPets > h3 {
  font-family: 'lato';
  font-weight: normal;
  color:#ec5242;
  font-size: 30px;
  text-align: center;
  }

  .aboutDescription {
    padding: 20px;
    border: 1px solid #d3d3d3;
    background-color: white;
  }

  .contactUs {
    padding-top: 30px;
    text-align: center;
    border: none;
    background-color: #f1f1f1;
  }

  .contactUs > a {
    color: #272a31;
  }

  #eventsHappyPets {
    background-color: #fff
  }

  #eventsHappyPets > h2 {
    text-align: center;
  }

  #eventsHappyPets > p {
    text-align: center;
    padding-bottom: 40px;
    font-size: 14px;
  }

  .imgEvents {
    border: 1px solid #d3d3d3;
    padding: 20px;
  }

  .imgEvents > img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  /* News */

  #newsHappyPets {
    background-color: white;
    border-top: 1px solid #d3d3d3;
  }

  #News {
    text-align: center;
  }

  #newsInfo > hr {
    margin-top: 13px;
    margin-bottom: 13px;
}

  #updates {
    text-align: center;
    padding-bottom: 35px;
  }

  #newsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  }

#newsContainer > article {
    background-image: url(./src/timoteo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 85px;
    height: 55vw;
}

.newsCards > h3 {
    font-size: 25px;
    color: white;
    text-align: center;
    padding-bottom: 12px;
}

.newsCards > p {
  font-size: 15px;
  color: white;
  text-align: center;
}