@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
  font-family: 'cocogooseregular';
  src: url('./src/cocogoose/webfontkit-20230627-110041/cocogoose_pro-trial-webfont.woff2') format('woff2'),
       url('./src/cocogoose/webfontkit-20230627-110041/cocogoose_pro-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 55px 5%;
}

body {
  background-image: url("./src/background\ mobile.png");
  background-size: contain;
  font-family: 'lato', sans-serif;
  font-size: 16px;
  color: #272a31;
}

.homeLink img {
  width: 100%;
}

.homeLink div {
  background: #fff;
  padding: 15px;
  width: 150px;
}

/* Home Section */

.hamburgerBar {
  background-color: #4b5160;
  width: 35px;
  height: 6px;
  border-radius: 1px;
}

#hamburgerContainer {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 200ms linear;
}

.hidden {
  display: none;
}

.onlyDesktop {
  visibility: hidden;
  display: none !important;
}

.navigationLinks li {
  border-bottom: 1px solid #6f6c6b;
  padding: 15px;
}

.navigationLinks {
  list-style-type: none;
}

.navigationLinks a {
  text-decoration: none;
  font-family: 'lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #fff5e1;
}

.navigationLinks a:hover {
  color: #ec5242;
}

.navMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #272a32;
  filter: alpha(opacity=95);
  opacity: 0.95;
  padding: 20px;
  transition: all 0.7s;
}

#closebutton {
  position: fixed;
  top: 35px;
  right: 35px;
}

h1 {
  font-family: 'cocogooseregular';
  font-weight: bold;
  background-image: url("./src/pexels-francesco-ungaro-7211201.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  color: rgb(255 0 0 / 51%);
  font-size: 50px;
  background-size: contain;
  text-align: inherit;
  padding-bottom: 8px;
}

 #titlePets {
  font-family: 'lato';
  font-weight: normal;
  color:#ec5242;
  font-size: 30px;
  text-align: inherit;
}

#introduction {
  padding: 20px;
  border: 5px solid white;
  background-color: #f6f6f6;
  margin-bottom: 100px;
}

/* Adoption Program */

#adoptionProgram {
  background-image: url("./src/background\ adoption.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#Adoption {
  color: #f6f6f6;
  font-family: 'lato', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ec5242;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-inline: auto;
  width: 30px;
  height: 2px;
}

.animalName {
  color: #ec5242;
}

.programDescription {
  color: #f6f6f6;
}

.adoptionButton {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  padding: 30px;
  color: #fff;
  margin: 45px auto;
  background: #ec5242;
  border: none;
  transition: all 0.7s;
  text-decoration: none;
  display: block;
}

.adoptionButton:hover {
  background: #fff5e1;
  border: 1px solid #ec5242;
  color: #ec5242;
}

.adoptionButton:active {
  color: #f4f1f0;
  background: #ec5242;
}

.adoptionButton:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

#programsContainer {
  display: grid;
  gap: 12px;
  justify-content: center;
}

#programsContainer > article {
  display: grid;
  grid-template-columns: 80px 80px 1fr;
  background: rgb(255 255 255 / 11%);
  padding: 12px 2%;
  align-items: center;
  gap: 15px;
  max-width: 400px;
}

.imgadoptionProgram img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: fill;
}

/* Featured Speakers */

#featuredSpeakers {
background-color: #fff;
}

#defenders {
  text-align: center;
}

.imgdefender > img {
  width: 120px;
}

.defendersProfession {
  color: #ec5242;
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
  padding-top: 10px;
}

.desfenderDescription {
font-size: 13px;
}

.defendersCards > h3{
  font-family: 'lato', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.defendersCards > hr {
  background-color: #d3d3d3;
  margin-top: 19px;
  margin-bottom: 20px;
  width: 20px;
  margin-inline: 0;
}

#defendersContainer > .speakerContainer{
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

#defendersContainer {
display: grid;
gap: 30px;
}

.defenderButton {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  padding: 10px;
  color: #2e2e2e;
  margin: 39px auto;
  background: #fff;
  border: 1px solid #d3d3d3;
  transition: all 0.7s;
  text-decoration: none;
  display: block;
  width: 100%;
  max-width: 400px;
}

/* About Happy Pets */

#aboutHappyPets > h2 {
  font-family: 'cocogooseregular';
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding-bottom: 45px;
  color: #ec5242;
}

#aboutHappyPets > h3 {
  font-family: 'lato';
  font-weight: normal;
  color:#ec5242;
  font-size: 30px;
  text-align: center;
}

.aboutDescription {
  padding: 20px;
  border: 1px solid #d3d3d3;
  background-color: white;
}

.contactUs {
  padding-top: 30px;
  text-align: center;
  border: none;
  background-color: #f1f1f1;
}

.contactUs > a {
  color: #272a31;
}

#eventsHappyPets {
  background-color: #fff
}

#eventsHappyPets > h2 {
  text-align: center;
}

#eventsHappyPets > p {
  text-align: center;
  padding-bottom: 40px;
  font-size: 14px;
}

.imgEvents {
  border: 1px solid #d3d3d3;
  padding: 20px;
}

.imgEvents > img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

/* News */

#newsHappyPets {
  background-color: white;
  border-top: 1px solid #d3d3d3;
}

#News {
  text-align: center;
}

#newsInfo > hr {
  margin-top: 13px;
  margin-bottom: 13px;
}

#updates {
  text-align: center;
  padding-bottom: 35px;
}

#newsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#newsContainer > article {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 55vw;
}

#Timoteo {
  background-image: url(./src/timoteo.jpg);
}

#Dorito {
  background-image: url(./src/dorito.jpg);
}

.newsCards {
  width: 100%;
  height: 100%;
  padding: 45px;
  background-color: rgba(255, 0, 0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsCards > h3 {
    font-size: 25px;
    color: white;
    text-align: center;
    padding-bottom: 12px;
}

.newsCards > p {
  font-size: 15px;
  color: white;
  text-align: center;
}

/* Sponsors */

#sponsorsHappyPets {
background-color: #2e2e2e;
}

#Sponsors {
  color: #d3d3d3;
  text-align: center;
}

#sponsorContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.imgSponsors {
  width: 120px;
}

.imgSponsors img {
  width: 100%;
}

footer {
  padding: 20px 5%;
  background-color: white;
  display: flex;
  gap: 30px;
}

@media only screen and (min-width: 768px) {

  #facebook {
    width: 9px;
    height: 18px;
  }

  #twitter{
    width: 20px;
    height: 17px;
  }

.socialMedia {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 20px;
  }
  .socialMedia img {
    width: 100%;
  }

  .socialMedia {
  background-color: #272a31;
  padding: 5px 11%;
  align-items: center;
  }

 .socialMedia li {
  color: white;
  font-size: 13px;
 }

 .navButton {
  font-family: 'lato', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 24px;
    padding: 5px 15px;
    color: #ec5242;
    margin: 1px 10px;
    border: 5px solid #ec5242;
    transition: all 0.7s;
    text-decoration: none;
    display: block;
    background-color: white;
 }

  section {
    padding: 55px 15%;
  }

  header{
    background-color: #fff;
  }
  
  body { 
    background-image: url("./src/background\ desktop.png");
  }
  
  .onlyMobile {
    visibility: hidden;
    display: none !important;
  }

  .onlyDesktop {
    visibility: visible;
    display: initial !important;
  }
  
  #defendersContainer > .speakerContainer{
    display: flex !important;
  }

  #defendersContainer {
    grid-template-columns: 1fr 1fr;
  }

  nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0  10%;
  }

  .navigationLinks {
    display: flex !important;
    align-items: center;
    gap: 20px;
  }

  .navigationLinks li {
    border: none;
    padding: 0;
  }
  .navigationLinks li a {
    color: #272a31;
    font-size: 12px;
  }

  #titlePets {
    font-size: 40px;
  }

  #fundationTitle {
    font-size: 80px;
    padding-bottom: 0;
  }

  #introduction {
  max-width: 525px;
  }

  #programsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
  }
  
  #programsContainer > article {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 15px;
    gap: 5px;
  }

  #programsContainer > article:hover {
    border:2px solid white;
  }

  .programDescription {
    text-align: center;
    font-size: 13px;
  }

  .adoptionButton {
    background: none;
    text-decoration: underline;
  }

  .adoptionButton:hover {
    background: none;
    border: none;
    color: white;
  }

  footer {
    padding: 40px 15%;
  }
}